.product-item-info {
    position: relative;

    .product-tag {
        position: absolute;
        width: 90%;
        top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .product-tag-img {
            max-width: 220.76px;
            height: 40px;
            z-index: 2;
        }
    }
}

.products-list {
    .product-item-info .product-tag {
        width: 100%;
        align-items: flex-end;
        top: 0px;
    }
}

.column.main {
    .product-info-main {
        position: relative;

        .product-tag {
            position: absolute;
            right: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .product-tag-img {
                max-width: 220.76;
                height: 40px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .column.main {
        .product-info-main {
            .product-tag {
                right: 10px;
            }
        }
    }
}