<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="decotag" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tags</label>
            <tab>catalog</tab>
            <resource>Deco_Rates::tag_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="upload_image_1" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag 1</label>
                    <backend_model>Deco\Tag\Model\Image</backend_model>
                    <base_url type="media" scope_info="1">Deco_Tag/view/frontend/web/image/tag</base_url>
                </field>
                <field id="upload_image_2" translate="label comment" type="image" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag 2</label>
                    <backend_model>Deco\Tag\Model\Image</backend_model>
                    <base_url type="media" scope_info="1">Deco_Tag/view/frontend/web/image/tag</base_url>
                </field>
                <field id="upload_image_3" translate="label comment" type="image" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag 3</label>
                    <backend_model>Deco\Tag\Model\Image</backend_model>
                    <base_url type="media" scope_info="1">Deco_Tag/view/frontend/web/image/tag</base_url>
                </field>
                <field id="upload_image_4" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag 4</label>
                    <backend_model>Deco\Tag\Model\Image</backend_model>
                    <base_url type="media" scope_info="1">Deco_Tag/view/frontend/web/image/tag</base_url>
                </field>
            </group>
        </section>
    </system>
</config>